streamlit
pandas
altair
openai
groq
crewai
langchain
langchain-openai
PyPDF2
langchain_community
crewai-tools
requests
numpy
protobuf
pydantic
pydantic-core
python-dateutil
tzdata
fastapi
uvicorn
sqlalchemy
httpx
aiohttp
jsonschema
pyyaml
tiktoken
typing-extensions
importlib-metadata
importlib-resources
chroma-hnswlib
chromadb
dataclasses-json
markdown-it-py
jsonschema-specifications
sqlite3
pysqlite3-binary
