streamlit
pandas
altair
openai
groq
crewai
langchain
langchain-openai
PyPDF2
langchain_community
crewai-tools
requests
numpy
protobuf
pydantic
pydantic-core
python-dateutil
tzdata
fastapi
uvicorn
sqlalchemy
httpx
aiohttp
jsonschema
pyyaml==6.0.1
tiktoken==0.7.0
typing-extensions==4.12.2
importlib-metadata==8.0.0
importlib-resources==6.4.0
chroma-hnswlib==0.7.3
chromadb==0.5.3
dataclasses-json==0.6.7
markdown-it-py==3.0.0
jsonschema-specifications==2023.12.1
